@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700');

.landing-page.pace .pace-progress {
  background: #fff;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
.pace-inactive {
  display: none;
}
body.landing-page {
  color: #676a6c;
  font-family: 'Poppins', helvetica, arial, sans-serif;
  background-color: #fff;
}

.landing-page .navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.landing-page .navbar-default.navbar-scroll {
  background-color: #1c84c6;
  padding: 15px 0;
}
.landing-page .navbar-default {
  background-color: rgba(28,132,198,0.8);
  transition: all 0.3s linear 0s;
}
.landing-page .navbar-default .nav li a {
  color: #fff;
  font-family: 'Poppins', helvetica, arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 14px;
}
.landing-page .navbar-default .navbar-nav > .active > a,
.landing-page .navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
}
.landing-page .navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
  color: #fff;
}
.landing-page .navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
  color: #ffffff;
}
.landing-page .navbar-default.navbar-scroll .navbar-nav > .active > a:focus {
  background: transparent;
  color: inherit;
}
.landing-page .navbar-default .navbar-brand:hover,
.landing-page .navbar-default .navbar-brand:focus {
  color: #fff;
}
.landing-page .navbar-default .navbar-brand {
  color: #fff;
  height: auto;
  display: block;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s ease-in-out 0s;
}
.landing-page .navbar-scroll.navbar-default .nav li a {
  color: #FFF;
}
.landing-page .navbar-scroll.navbar-default .nav li a:hover {
  color: #FFF;
}
.landing-page .navbar-wrapper .navbar.navbar-scroll {
  padding-top: 0;
  padding-bottom: 5px;
  border-radius: 0;
}


.landing-page .navbar-scroll .navbar-nav > li > a {
  padding: 20px 10px;
}
.landing-page .navbar-fixed-top {
  border: none !important;
}
.landing-page .navbar.navbar-scroll .navbar-brand {
  margin-top: 25px;
  font-size: 14px;
  padding: 10px;
  height: auto;
}