.navbar.navbar-default{
	box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
}
.navbar.navbar-default .nav.navbar-nav li a{
	padding: 14px 65px;
	line-height: 1.8;
}
.navbar.navbar-default .nav.navbar-nav li a:hover{
	background: #1AB394;
}
.tabcontent{
	display: none;
}
/* Create an active/current tablink class */
.tab .nav.navbar-nav a.active {
    background-color: #263949;
    color: white;
}

